
/* main color text #212121 */
/* another color text #757575 */
/* white color text  #FFFFFF   */  
/* link  #2196F3  */
/* another link rgba(255, 255, 255, 0.6 */

/*body*/
.page {
    color:#212121
}
/*logo*/
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-first {
    color: #2196F3;
}

.logo-second {
    color:#000000
}
.list {
    list-style: none;
}

/*header*/
.header {
    background-color: #FFFFFF;
}
/*site-nav*/
.site-nav {

}
.site-nav .link:hover, .site-nav .link:focus {
    color: #2196F3;
}

/*title section*/
.title {
    color:#212121
}